@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}

.active{
  background-color: oklch(86.9% 0.022 252.894);
  border-color: oklch(70.4% 0.04 256.788);
}

